.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  width: 100%;
  padding: 1.5%;
  margin-top: 2%;
  border-radius: 15px;
}
.mobileMenuBtn {
  display: none;
}

.navbar .navlinks {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 15px;
    justify-content: space-between;
  }
  .navbar .navlinks {
    display: none;
  }
  .mobileMenuBtn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
